@keyframes floatUp {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-500px) translateX(var(--move-x)) rotate(var(--rotate));
    opacity: 0;
  }
}

.floatingLogo {
  position: absolute;
  opacity: 0;
  bottom: -80px;
  animation: floatUp linear infinite;
}


.logoCard:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}


.logoImage {
  height: 2.75rem; /* leve aumento em relação ao 2.5rem */
  width: auto;
  max-width: 6rem;
  object-fit: contain;
  opacity: 0.9;
  transition: all 0.3s;
}

.logoCard {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  border-radius: 0.75rem;
  padding: 0.6rem; 
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
  box-shadow: 0 8px 14px -4px rgba(0, 0, 0, 0.15);
  
}


/* --- Mobile otimizado --- */
@media (max-width: 768px) {
  .logoImage {
    height: 2.4rem;   /* maior que antes */
    max-width: 5rem;  /* limita horizontalmente */
  }

  .logoCard {
    padding: 0.4rem;  /* reduz margem interna */
    border-radius: 0.6rem;
  }
}

.logoImage:hover {
  opacity: 1;
}

.gridBackground {
  position: absolute;
  inset: 0;
  opacity: 0.1;
  background-image: radial-gradient(circle, white 1px, transparent 1px);
  background-size: 50px 50px;
}